$primary-text-color: #212121;
$accent-color: #2196F3;
$second-text-color: #757575;
$logo-color: #2196F3;
$logo-footer-color: #ffffff;
$body-background-color: #ffffff;
$hero-background-color: #2F303A;
$hero-button-color: #ffffff;
$hero-back-color: #2196F3;
$hero-accent-color: #188CE8;
$h1-color: #ffffff;
$footer-back-color: #2F303A;
$contact-footer-color: rgba(255, 255, 255, 0.6);
$portfolio-button-color: #F5F4FA;
$focus-back-color: rgba(0, 0, 0, 0);
$border-color-head: #ECECEC;
$border-color: #EEEEEE;
$social-icon-color: #AFB1B8;
$cubic-beziez: cubic-bezier(0.4, 0, 0.2, 1);