.backdrop {
    position: fixed;
    padding: 94px 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;

    transition: opacity 250ms $cubic-beziez;

}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-hero {
    transform: translate(-50%, -50%) scale(0.9);
}