.client{
    @extend %section;
    

    

    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        padding-right: 0;
        padding-left: 0;

        @media screen and(min-width: 1200px){
            flex-wrap: nowrap;
        }
        
    }

    &__logo{
        @media screen and (max-width:767px) {
            width: calc((100% - 4 * 15px)/2);
           margin: 15px;
        }
        @media screen and (min-width:768px){
            width: calc((100% - 6 * 15px)/3);
            margin: 15px;
            
        } 
        
    }

    &__link{
        height: 92px;
        @include flexCenter ();
        
        color: $social-icon-color;
        border: 1px solid $social-icon-color;
        border-radius: 4px;
        
        transition: color 250ms $cubic-beziez,
        border 250ms $cubic-beziez;
    }
    &__link:hover, &__link:focus{
        color: $accent-color;
        border: 1px solid $accent-color;
    }

    &__icon{
        fill: currentColor;
    }
}