.contact {

    @media screen and(max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0;
    

        &__link-phone {
            font-size: 34px;
            @media screen and (max-width:376px) {
                font-size: 30px;
                
            }
        }
        &__link-mail{
            font-size: 24px;
        }

        &__icon {
            display: none;
        }
        
       
    }
    @media screen and(min-width: 768px) {
        font-size: 12px;
            margin-bottom: 0;
        
        &__icon{
            fill: currentColor;
        }

    }
        @media screen and(min-width: 1200px){
            @include flexCenter ();
            font-size: 14px;
            margin-top: 0;
            margin-left: auto;
        }


    &__list {
        @media screen and(max-width:767px){
            margin-bottom: 32px;
        }
        @media screen and( min-width: 768px){
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and(min-width: 1200px){
            margin-top: 0;
            margin-left: auto;
            margin-bottom: 0;
            width: calc((100% - 50px)/2);
            margin-left: 50px;
        }
        
    }

    &__link {
        @media screen and(min-width: 1200px){
            @include flexCenter ();
        }

        color: $second-text-color;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition: color 250ms var(--cubic-beziez);

    }
    

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }

    &__icon-envelope,
    &__icon-smartphone {
        margin-right: 10px;
    }

    
}
.coco{
    margin-left: auto;
}
