.contact {
   

    list-style-type: none;
    margin-top: 0;
    margin-left: auto;
   

    @media screen and(max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;

        &__link-phone {
            font-size: 34px;
         }
        &__link-mail{
            font-size: 24px;
         }

        &__icon {
            display: none;
            fill: currentColor;
        }
        
       
    }
    @media screen and(min-width: 768px) {
        font-size: 12px;
        margin-bottom: 0;
        
        &__icon{
            color: $second-text-color;
        }

    }
    @media screen and(min-width: 1200px){
        @include flexCenter ();
    }

    // @include flexCenter ();



    &__list {
        @media screen and(max-width:767px){
            margin-bottom: 32px;
        }
        @media screen and( min-width: 768px){
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and(min-width: 1200px){
            margin-bottom: 0;
            width: calc((100% - 50px)/2);
            margin-left: 50px;
        }
        
    }

    &__link {
        @media screen and(min-width: 1200px){
            @include flexCenter ();
        }
        
        // display: flex;
        // align-items: center;

        color: $second-text-color;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition: color 250ms var(--cubic-beziez);

    }
    

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }

    &__icon-envelope,
    &__icon-smartphone {
        margin-right: 10px;
    }

    
}