.form-comment {

    &__textarea {
        padding-left: 16px;
        padding-top: 12px;
        outline: none;
        resize: none;

        border: 1px solid $border-color;
        border-radius: 4px;

        transition: border 250ms $cubic-beziez;
    }

    &__textarea:focus {
        border: 1px solid $accent-color;
        cursor: pointer;
    }

    &__textarea::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}