
.header__container{
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    @include flexCenter (flex,$main-axis:space-between, $cross-axis:center)
    
}
.header {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-color-head;
}




.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $body-background-color;

    &__svg{
        fill: currentColor;
    }
    &:hover, &:focus{
        color: $accent-color;
    }


}
.menu-button .icon-close{
    display: none;
}
.menu-button.is-open .icon-close{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}


.nav-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $body-background-color;

}
.nav-menu.is-open{
    display: block;
}

.social-menu{
    display: flex;
    margin-bottom: 64px;

    &__link{
        margin-right: 10px;
        padding-right: 10px;

        color: $accent-color;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        list-style-type: none;
        text-decoration: none;
    
    
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: $border-color;

        &:not(:last-child) {
            margin-right: 0;
            padding-right: 0;
            border: none;
          }
    }
}