.navigation {
    // @include flexCenter();
    // display: flex;
    // align-items: center;
    // height: 80px;
    // margin-left: 93px;
    margin-bottom: 300px;
    margin-top: 48px;

    &__list {
        // width: calc((100% - 100px)/3);
        // margin-right: 50px;
        margin-bottom: 32px;
    }

    &__link {
        color: $primary-text-color;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
        transition: color 250ms $cubic-beziez;
    }

    &__link--current {
        position: relative;
        color: $accent-color;
    }

    // &__link--current::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     bottom: 0;
    //     left: 0;
    //     border-radius: 2px;
    //     height: 4px;
    //     background-color: $accent-color;
    // }
}