.navigation {
    @media screen and(min-width: 1200px){
       @include flexCenter();
       margin-left: 93px;
    }
    // @include flexCenter();
    // display: flex;
    // align-items: center;
    // height: 80px;
    //

    &__list {
       @media screen and (max-width:767px) {
        margin-bottom: 32px;
       }
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 100px)/3);
            margin-right: 50px;
        }
       
    }

    &__link {
        color: $primary-text-color;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        @media screen and (min-width: 768px){
            padding-bottom: 32px;
        }

    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
        transition: color 250ms $cubic-beziez;
    }

    

    
    @media screen and(max-width:767px){
        margin-bottom: 300px;
        margin-top: 48px;
        font-size: 40px;
    }
    @media screen and(min-width: 768px) {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        // @include flexCenter();
        // align-items: center;
        // justify-content: center;
        font-size: 14px;

        &__link--current::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        height: 4px;
        background-color: $accent-color;
    }
    &__link--current {
        position: relative;
        color: $accent-color;
    }
       
    }
}
.nav-container{
    @media screen and( min-width: 768px){
        display: flex;
        align-items: center;
    }
}