.our-team{
    @extend %section;
    background-color: #F5F4FA;
   
    &__list{
        // @include flexCenter ();

        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -15px;
            
        }
    }
}
