.portfolio{ 
    @extend %section;

    &__nav-list{
        margin-top: 0;
        margin-bottom: 50px;
        padding-left: 0;
        
        @include flexCenter( $main-axis:flex-start,$cross-axis:none);
        flex-wrap: wrap;
        @media screen and (min-width: 768px){
            justify-content: center;
        }

     }
     
     &__nav-item{
        &:not(:last-child) {
            margin-right: 8px;
            margin-bottom: 15px;
        }
        &:nth-child(3n) {
            margin-right: 20px;
        }
        
     }

      &__button{
        padding: 6px 22px;

        background-color: $portfolio-button-color;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        
        border-radius: 4px;
        border: none;
        
        &:hover, &:focus {
            color: $hero-button-color;
            background-color: $accent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            }
        
        transition: background-color 250ms $cubic-beziez,
        color 250ms $cubic-beziez,
        box-shadow 250ms $cubic-beziez;

        &--active{
            color: $hero-button-color;
            background-color: $accent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }

    }
}